body{
    background-image: url(https://images.pexels.com/photos/920985/pexels-photo-920985.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   
}

.option{
    background-color: rgb(216, 67, 67);
}

.list{
    width:100px;
    height: 40px;
    margin-top: 10px;
    margin-left: 20px;
}

.email{
    color: white;
}

.read{
    background-color: rgb(238, 139, 139);
}

.bar, .navbar{
    background-color: rgb(120, 0, 0);
}

.navbar-brand, .row{
    color: aliceblue;
}

.row{
    min-height: 100vh;
    min-width: 100vw;
}

.dropdown-menu{
    background-color:rgb(212, 62, 62);
}

.search{
    color: silver;
}

.drop{
    
    color:red;
    background-color: aliceblue;
}

.won, .google, .sorry, .jessica{
background-color:rgb(226, 88, 111);
opacity : 75%;
position: relative;
z-index: -1;
}

.sorry {
    box-shadow: -5px 10px 15px hsl(0, 0%, 0%);
}

.won {
    margin-top: 15px;
}

.profile{
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin-left: 25px;
    margin-top: 10px;
}

.emily {
    margin-left: 10px;
}